#mainView {
  display: none;
}

.mainView {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 20px;
}

.contribution {
  margin: 15px 0;

  > span {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }

  &__title {
    font-weight: bold;
    width: 50%;
  }

  &__value {
    text-align: right;
    width: 47.5%;
  }

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}
