#mainView {
  display: none;
}

.mainView {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contribution {
  margin: 1rem 0;

  > span {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 0.3rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
  }

  &__title {
    font-weight: bold;
    width: 50%;
  }

  &__value {
    text-align: right;
    width: 47.5%;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
