#settingsView {
  display: none;
}

.settingsView {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  margin: 20px;
}

.btnRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.formField {
  &__userId {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > .formField {
      width: 190px;
    }
  }

  &__avatar {
    & {
      border-radius: 3px;
      height: 55px;
    }

    &--loading {
      border: 2px solid $color-border;
      border-radius: 3px;
      height: 51px;
    }
  }

  &__description {
    display: flex;
    font-weight: bold;
    margin-bottom: 2px;
    margin-left: 4px;
  }

  &__input {
    border: 2px solid $color-border;
    border-radius: 3px;
    margin-top: 2px;
    padding: 5px 0 5px 6px;
    width: calc(100% - 8px);

    &:focus {
      border: 2px solid $color-border-focus;
      outline: none;
    }
  }

  &__status {
    align-items: center;
    display: flex;
    font-size: 12px;
    font-weight: bold;

    &--valid {
      color: $color-icon-valid;
    }

    &--invalid {
      color: $color-icon-invalid;
    }

    img {
      height: 12px;
      margin: 0 5px;
    }
  }
}
