#settingsView {
  display: none;
}

.settingsView {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  margin: 20px;
}

.btnRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.formField {
  @at-root #{&}--userId {
    width: 190px;
  }

  @at-root #{&}__userId {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @at-root #{&}__avatar {
    @at-root #{&} {
      border-radius: 3px;
      height: 55px;
    }

    @at-root #{&}--loading {
      border: 2px solid $color-border;
      border-radius: 3px;
      height: 51px;
    }
  }

  @at-root #{&}__description {
    display: flex;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 2px;
    margin-left: 4px;
  }

  @at-root #{&}__input {
    border: 2px solid $color-border;
    border-radius: 3px;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin-top: 2px;
    padding: 5px 0 5px 6px;
    width: calc(100% - 8px);

    @at-root #{&}:focus {
      border: 2px solid $color-border-focus;
      outline: none;
    }
  }

  @at-root #{&}__status {
    align-items: center;
    display: flex;
    font-size: 12px;
    font-weight: bold;

    @at-root #{&}--valid {
      color: $color-icon-valid;
    }

    @at-root #{&}--invalid {
      color: $color-icon-invalid;
    }

    img {
      height: 12px;
      margin: 0 5px;
    }
  }
}
