.btn {
  border: 0;
  border-radius: 3px;
  padding: 0 20px;
  height: 35px;
  font-weight: bold;
  cursor: pointer;
}

.btn--primary {
  background-color: $color-primary;
  color: $color-font-white;

  &:hover {
    background-color: $color-primary-shade-1;
  }
}

.btn--primary:disabled,
.btn--primary:disabled:hover {
  background-color: $color-primary-shade-2;
  cursor: default;
}

.btn--secondary {
  color: $color-font-black;
  background-color: $color-secondary;
  margin-right: 10px;

  &:hover {
    background-color: $color-secondary-shade-1;
  }
}
