.btn {
  border: 0;
  border-radius: $border-radius;
  cursor: pointer;
  font-weight: bold;
  height: 2.5rem;
  padding: 0 1.5rem;
}

.btn--primary {
  background-color: $color-primary;
  color: $color-font-white;

  &:hover {
    background-color: $color-primary-shade-1;
  }
}

.btn--primary:disabled,
.btn--primary:disabled:hover {
  background-color: $color-primary-shade-2;
  cursor: default;
}

.btn--secondary {
  background-color: $color-secondary;
  color: $color-font-black;

  &:hover {
    background-color: $color-secondary-shade-1;
  }
}
