.progressBar {
  background: $color-progessbar-background;
  border-radius: 0.6rem;
  height: 0.6rem;
  position: relative;

  > span {
    border-radius: 0.6rem;
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
    transition: width 1s ease-in-out;
    width: 0;
  }
}
