.userPanel {
  align-items: center;
  display: flex;
  height: $userPanel-height;
  justify-content: flex-start;

  &__avatar {
    border-radius: 3px;
    height: 100%;
  }

  &__info {
    font-weight: bold;
    margin-left: 1rem;

    a {
      color: $color-primary;
      font-size: 1.5rem;
      outline: none;
      text-decoration: none;

      &:link,
      &:visited,
      &:focus {
        color: $color-primary;
        outline: inherit;
        text-decoration: inherit;
      }

      &:hover,
      &:active {
        text-decoration: underline;
      }
    }
  }

  &__editBtn {
    cursor: pointer;
    height: 1rem;
    margin-bottom: -0.1rem;
    margin-left: 0.2rem;

    &:hover {
      // filter for $color-primary ()
      filter: contrast(0) sepia(100%) hue-rotate(170deg) brightness(0.7) saturate(5);
    }
  }

  &__description {
    font-size: 1.25rem;
    margin-top: 3px;
  }

  &__configureBtn {
    height: 100%;
    line-height: $userPanel-height;
    margin-left: auto; // flush btn to the right
    width: 14rem;
  }
}
