// Color
$color-primary: #0366d6;
$color-primary-shade-1: #0c80db;
$color-primary-shade-2: rgba(3, 102, 214, 0.5);
$color-secondary: #d8d8d8;
$color-secondary-shade-1: #eee;

// Typography
$color-font-black: #333;
$color-font-white: #fff;

// Border
$color-border: #d8d8d8;
$color-border-focus: $color-primary;

// Icons
$color-icon-valid: #7ed321;
$color-icon-invalid: #f40f2b;

// Components
$color-progessbar-100: #7ed321;
$color-progessbar-50: #f5a623;
$color-progessbar-0: #f40f2b;
$color-progessbar-background: #d8d8d8;
