@import "variables";
@import "components/button";
@import "components/progressBar";
@import "components/userPanel";
@import "views/mainView";
@import "views/settingsView";

body,
input,
button {
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  font-size: 14px;
  margin: 0;
}

.body {
  color: $color-font-black;
  width: 300px;
  height: 200px;
}
