@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import "variables";
@import "components/button";
@import "components/progressBar";
@import "components/userPanel";
@import "views/mainView";
@import "views/settingsView";

html,
body,
input,
button {
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  margin: 0;
}

.body {
  color: $color-font-black;
  height: 13.8rem;
  width: 22.5rem;

  > div {
    height: 100%;
    margin: 1.75rem;
  }
}
