.body {
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  color: #333333;
  width: 300px;
  height: 200px;
  margin: 0;
}

#formView {
  display: none;
  height: 100%
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin: 20px;
  height: inherit;
}
.form-idContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-idContainer .form-input {
  width: 190px;
}
.form-idContainer .img {
  height: 55px;
  border-radius: 3px;
}
.form-idContainer .avatar {
  display: none;
}
.avatar-status {
  font-size: 12px;
  display: flex;
  align-items: center;
}
.avatar-status img {
  height: 13px;
  margin: 0 2.5px 0 5px;
}
div .invalid {
  color: #F40F2B;
}
.id-label {
  display: flex;
  align-items: center;
}
.form-idContainer .loading {
  height: 51px;
  border: 2px solid #D8D8D8;
}
.form-input:last-child {
  margin-top: 10px;
}
.form-input label {
  padding-left: 5px;
}
.form input {
  width: -moz-calc(100% - 8px);
  width: -webkit-calc(100% - 8px);
  width: -o-calc(100% - 8px);
  width: calc(100% - 8px);
  margin-top: 6px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  padding-left: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  font-family: 'Quicksand', sans-serif;
}
.form input:focus {
  border: 2px solid #0366d6;
  outline: none;
}
.form-btn {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 3px;
  padding-left: 20px;
  padding-right: 20px;
  height: 35px;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.btn-primary {
  background-color: #0366d6;
  color: white;
}
.btn-primary:hover {
  background-color: #0c80db;
}
.btn-secondary {
  color: #333333;
  background-color: #D8D8D8;
  margin-right: 10px;
}
.btn-secondary:hover {
  background-color: #EEEEEE;
}

#mainView {
  display: none;
  height: 100%
}
#user-configureBtn {
  outline: 0;
}
.main {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: inherit;
}
.userInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
  height: 50px;
}
.userInfo .avatar {
  height: 100%;
  border-radius: 3px;
}
.userInfo .editIcon {
  height: 15px;
  margin-left: 2px;
  cursor: pointer;
}
.userInfo .editIcon:hover {
  filter: brightness(50%);
}
.userInfo .description {
  font-size: 16px;
  font-weight: bold;
  margin-left: 15px;
}
.userInfo .description a,
.userInfo .description a:link,
.userInfo .description a:visited,
.userInfo .description a:focus {
  color: #0366d6;
  text-decoration: none;
  outline: none;
  font-size: 20px;
}
.userInfo .description a:hover,
.userInfo .description a:active {
  text-decoration: underline;
}
.userInfo .description div {
  margin-top: 3px;
}

.stats{
  font-size: 14px;
}
.section {
  margin: 15px 0;
}
.section:first-child {
  margin-top: 0;
}
.section:last-child {
  margin-bottom: 0;
}
.section > span {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.section .title {
  font-weight: bold;
  width: 50%;
}
.section .value {
  text-align: right;
  width: 47.5%;
}

.progressBar {
  height: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  position: relative;
  background: #D8D8D8;
}
.progressBar > span {
  width: 0;
  display: block;
  position: relative;
  overflow: hidden;
  height: 100%;
  border-radius: 8px;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}
