.body {
  font-family: 'Comfortaa', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  color: #333333;
  width: 300px;
  margin: 30px;
}

.userInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}

.userInfo img {
  width: 20%;
  border-radius: 8px;
}
.userInfo .description {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-left: 15px;
}
.userInfo .description a {
  /*color: #8F2CFA;*/
  color: #0366d6;
  text-decoration: none;
}
.userInfo .description a:hover {
  text-decoration: underline;
}
.userInfo .description div {
  margin-top: 3px;
}

.section {
  margin: 15px 0;
}
.section:first-child {
  margin-top: 0;
}
.section:last-child {
  margin-bottom: 0;
}
.section > span {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.section .title {
  font-size: 14px;
  font-weight: bold;
}
.section .value {
  font-size: 14px;
}

.progressBar {
  height: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  position: relative;
  background: #D8D8D8;
}
.progressBar > span {
  display: block;
  position: relative;
  overflow: hidden;
  height: 100%;
  border-radius: 8px;
  -webkit-transition: width 1s ease-out;
  -moz-transition: width 1s ease-out;
  -o-transition: width 1s ease-out;
  transition: width 1s ease-out;
}
